/* ====== Her0-section ====== */
*
.container
{
    padding: 0 22px;
}

.hero-section__block
{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 100%;
}

.hero-section__title
{
    display: flex;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #000;
    margin-bottom: 25px;

}

.hero-section__p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #000;
}
