.basket__title
{
    border-bottom: 1px solid var(--app-color-light-gray);
    margin-bottom: 26px;
    display: flex;
    gap: 5px;
}
.home-basket__title h2
{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000
}

.home-basket__title span
{
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #a2a2a2;
}
    .basket__price
{
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #696969;
}

.home-basket__product-card
{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--app-color-light-gray);
    margin-bottom: 388px;
}

.basket__links
{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    gap: var(--app-gutter);
}

.basket__button
{
    display: block;
    padding: 5px 25px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: var(--app-default-transition);
    width: 100%;
    background-color: white;
    color: #000;
}