/* ====== Description ====== */
*
.home-description .box
{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}

.home-description__label
{
    position: relative;
    padding: 20px 0px;
    padding-right: 45px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
}

.home-description  .box span
{
    padding-right: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #a2a2a2;
    left: 40px;
}

.box .home-description__label::after
{
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    color: #a2a2a2;
    font-size: 40px;
    font-weight: lighter;
}

.box.active .home-description__label::after
{
    content: "\2014";
}

.home-description__content
{
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: 1s;
}

.description__img
{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}
