/* ====== WORTH ====== */
.worth__title {
    color: var(--app-color-dark-gray);
}

.worth__subheading {
    display: inline-block;
    padding-left: 5px;
}

.worth__count {
    font-size: 20px;
    font-weight: 400;
}

.worth__count::before {
    content: '/';
}

.worth__desc {
    margin-top: 20px;
}

.worth__img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.worth__pagination .swiper-pagination-bullet-active {
    background: var(--app-color-dark-gray);
}

.worth__pagination .swiper-pagination-bullet {
    background: var(--app-color-light-gray);
    width: 8px;
    height: 8px;
}

.worth__pagination.swiper-pagination {
    bottom: 5px;
}

.home-worth__button {
    border: none;
    margin-top: 25px;
}